html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

* {
    padding: 0;
}

a {
    text-decoration: none;
    color: #1AC472;
}

ul {
    padding-inline-start: 15px;
}

li {
    margin-bottom: 10px;
}

body {
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
}

header h1 {
    margin: 0;
    position: absolute;
    top: 3.5%;
    left: 5%;
    color: black;
    font-weight: 400;
    font-size: 40px;
    font-family: Bodoni MT, serif;
}

header a {
    margin: 0;
    position: absolute;
    color: black;
    left: 90%; 
    top: 5%; 
    border:2px solid black; 
    padding: 10px 15px; 
}

header a:hover {
    background-color: black;
    color: white;
}

header,
header:before {
    background: 50% 50% / cover;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(images/pic.JPG);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

.container {
    z-index: 2;
    position: absolute;
    top: 100vh;
    background-color: white;
    line-height: 30px;
    font-weight: 400;
    padding: 40px 450px;
    color: black;
    font-size: 15px;
}

.content_header {
    font-size: 50px;
    font-family: Bodoni MT, serif;
    line-height: 1.5;
}

.project_date {
    float: right;
}

footer {
    background-color: black;
    color: white;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 80px;
    font-size: 18px;
}

footer a {
    color: white;
    text-decoration: underline;
}

.skills ul{
    list-style: none;
    padding: 0;
}

.skills li {
    margin: 20px 0px;
}

.bar {
    background-color: #1AC472;
    display: block;
    height: 5px;
    padding: 0;
    margin: 0;
}

.bar span {
    height: 5px;
    float: left;
    background-color: black;
}

.c {
    width: 65%;
    animation: c 5s;
}

@keyframes c {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

.cpp {
    width: 75%;
    animation: cpp 5s;
}

@keyframes cpp {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.html {
    width: 70%;
    animation: html 5s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.css {
    width: 80%;
    animation: css 5s;
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.python {
    width: 80%;
    animation: python 5s;
}

@keyframes python {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.react {
    width: 45%;
    animation: react 5s;
}

@keyframes react {
    0% {
        width: 0%;
    }

    100% {
        width: 45%;
    }
}



@media only screen and (max-device-width: 480px) {
    header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: url(images/pic_mobile.JPG);
        background-size: cover;
        transform-origin: center center 0;
        transform: translateZ(-1px) scale(2);
        z-index: -1;
        min-height: 100vh;
    }

    header a {
        left: 75%;
        top: 3%;
        font-size: 10px;
    }

    header h1 {
        font-size: 20px;
    }

    .container {
        padding: 40px;
        font-size: 12px;
    }

    footer {
        padding: 0;
        padding-top: 50px;
        font-size: 13px;
    }

    .project_date::before {
        content: "\a";
        white-space: pre;
    }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 500px) {
    header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: url(images/pic_tab.JPG);
        background-size: cover;
        transform-origin: center center 0;
        transform: translateZ(-1px) scale(2);
        z-index: -1;
        min-height: 100vh;
    }

    header a {
        top: 4%;
        left: 80%;
    }

    .container {
        padding: 40px 125px;
    }
}